header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav {
  padding: 1rem 2rem;
  font-weight: 700;
  background-color: #f9e7e5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #f47cb9;
}

.active {
  color: #007bff;
}
